<article class='w3-quarter w3-container'>
  <div class='w3-card-4'>
    <h2>{{article.image}}</h2>
    <h3>{{article.price}}</h3>
    <p>{{article.description}}</p>
  </div>
</article>

<div class='w3-container'>
  <!-- 
  <div class="w3-container w3-content">
    <p class="w3-opacity"><b>Eventos siguientes</b></p>

    {{#each upcomingEvents}}
    <div class="w3-panel w3-white w3-card w3-display-container">
      <span class="w3-display-topright w3-padding w3-opacity w3-wide">STAND
        {{stand}}</span>
      <br>
      <h5><b>{{msg}}</b></h5>
      <p><i>{{{formatDate date ../userDate}}}</i></p>
    </div>
    {{/each}}
  </div>
  -->
  <article class='w3-quarter w3-container'>
    <div class='w3-card-4'>
      <h2>Paris</h2>
      <p>The Paris area is one of the largest population centers in Europe,
        with more than 2 million inhabitants.</p>
    </div>

  </article>

  <article class='w3-quarter w3-container'>
    <div class='w3-card-4'>
      <h2>Paris</h2>
      <p>The Paris area is one of the largest population centers in Europe,
        with more than 2 million inhabitants.</p>
    </div>


  </article>

  <article class='w3-quarter w3-container'>
    <div class='w3-card-4'>
      <h2>Paris</h2>
      <p>The Paris area is one of the largest population centers in Europe,
        with more than 2 million inhabitants.</p>
    </div>

  </article>
</div>